.headerbg{
    background:white;
    color: white;
    width: 100%;
    height: 75px;
    position: relative;
    text-align: center;
    border-bottom: solid #4aaaa5;
    border-width: 5px;
}

SHOP
Code Snippets » CSS »
The Clearfix: Force an Element To Self-Clear its Children
BY CHRIS COYIER LAST UPDATED ON FEBRUARY 26, 2017
CLEARFIX, PSUEDO ELEMENTS
The Clearfix: Force an Element To Self-Clear its Children
This will do you fine these days (IE 8 and up):

.group:after {
  content: "";
  display: table;
  clear: both;
}
Apply it to any parent element in which you need to clear the floats. For example:

<div class="group">
  <div class="is-floated"></div>
  <div class="is-floated"></div>
  <div class="is-floated"></div>
</div>
You would use this instead of clearing the float with something like <br style="clear: both;" /> at the bottom of the parent (easy to forget, not handleable right in CSS, non-semantic) or using something like overflow: hidden; on the parent (you don't always want to hide overflow).

Now for a bit of history!

This was the original popular version, designed to support browsers as far back as it possibly could:

.clearfix{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.profile{
    background: white;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 18px;
    position: absolute;
    left: 210px;
    padding: 20px;
    text-align: center;
    margin-left: 1200px;
}

.header {
    background: #4aaaa5;
    color: white; 
    height: 35px;
    width: 275px;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    top:0px;
    left: 100px;
    padding: 20px;
    position: absolute;
    text-align: center;
  }

.mainSection{
    background: white;
    color: black;
    font-family: 'Arial', 'Helvetica Ne', Helvetica, sans-serif;
    height: 345px;
    width: 640px;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    margin-top: 10px;
    clear:both;
    padding-top: 40px;
    position: relative; 
}
.main{
    background: white;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.aboutMe{
    background: white;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    position: absolute;
    height: 35px;
    top: 10px;
    left:20px;   
}
.sidebar{
    background: white;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 240px;
    width: 260px;
    float: left;
    margin-top: 10px;
    margin-left: 160px;
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.icons{
    position: absolute;
    top: 70px;
    left: 60px;
}
.connect{
    background: white;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    position: absolute;
    height: 35px;
    top: 10px;
    left:20px;

    
}
.footer{
    background:rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: solid #4aaaa5;
    border-width: 5px;
    padding: 30px;
}
.horizontalLine{
    width: 100%;
    height: 1px;
    color: red;
}
hr.hr{
    width:100%;
}

.clearfix{
    background: blue;
   float: left;
}
/* code below is for profile */
.port{
    background: white;
    color: black;
    font-family: 'Arial', 'Helvetica Ne', Helvetica, sans-serif;
    height: 650px;
    width: 640px;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    margin-top: 10px;
    clear:both;
    padding-top: 40px;
    position: relative; 
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5{
float: left;
position: relative;
margin: 20px;
padding-left: 40px;
}

.family,
.love,
.hobbies,
.fitness,
.shows{
    background: #4aaaa5;
    color: white; 
    text-align: center;
    height: 30px;
    width: 224px;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    top:125px;
    left: 40px;
    position: absolute;
    
}


/* below is code for contact*/
.contact{
    background: white;
    color: black;
    height: 300px;
    width: 600px;
    margin-left: 10px;
    position: relative;
    top: 0;
    left:0;
    float: left;
}

/*mobile or base */
.wrappersection {
    
    min-height: 200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: black;
  }
  
  
  /*tablet */
  @media screen and (min-width: 500px) {
    .wrappersection {
    
      background: pink;
    }
  }
  
  /* desktoppy */
  @media screen and (min-width: 700px) {
    .wrappersection {
   
      background: blue;
  
    }
  
  }
  
/*mobile or base */
.wrappersection1 {
    
    min-height: 200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: black;
  }
  
  
  /*tablet */
  @media screen and (min-width: 50px) {
    .wrappersection1 {
      padding: 40px;
      background: pink;
    }
  }
  
  /* desktoppy */
  @media screen and (min-width: 100%) {
    .wrappersection1 {
   
      background: blue;
  
    }
  
  }
  
